@import '@fontsource/poppins';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/900.css';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-banner {
  @apply flex flex-col justify-center items-center p-10 md:p-20 text-center text-white;
  position:relative;
}
.blurred-banner:before {
  content:'';
  position:absolute;
  background-image:url('/images/banner.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  filter:brightness(0.7);
  left:0;top:0;bottom:0;right:0;
  z-index:-1;
}
